body {
  background-color: #adadad;
}

h1 {
  font-weight: bolder;
  color: white;
}

p {
  font-weight: bolder;
  color: white;
}

div {
  font-weight: bolder;
  color: white;
}

label {
  font-weight: bolder;
  color: white;
}